.GegnerDeck{
    width: 80%;
   
    background-color: #ff0060;
    left: 0;
    top: 4em;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
}


.meinDeck{

width: 100%;
color: #ffffff; 
background-color: #000000;
position: fixed; 
left: 0px;
bottom: 0px; 

}

header{
    background-color: #ff0060;
    color: #ffffff;
}


.gelegtesDeck {
    float: left;
    width: 49%;
    overflow:auto;
    padding: 0em;
    margin: 0em;
    background-color:#99ffbb;
    font-size: 1em;
    position: relative;
    top: 200px;
}

.Hauptdeck {
    float: right;
    width: 49%;
    overflow:auto;
    padding: 0em;
    margin: 0em;
    background-color:#99ffbb;
    font-size: 1em;
    position: relative;
    top: 200px;

}

