
.kopf {

    color:	 #33001a;
    background-color: #9933ff;
    font-family: "Arial",serif;
    width: 100%;
    text-align: center;

}

ul {

    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li{

    display: inline;
    padding: 1%;
    margin: 0;
    font-size: 2em;
    text-align: center;

}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
body {

    background-color: #ff1a8c;
    clear: left;
    margin: 0;

}

main{
    float: left;
    width: 75%;
    align-content: center;
    
}
h1 {
    font-size: 2.5em;
    
}

h2{
    
    font-size: 1.75em;

 }
 h4{

    font-size: 2em;
 }

 
section {

    color: #33001a;
    width: 75%;
    float: left;
    margin:0.5%;
max-height: 23em;
overflow:auto;
border-radius: 5px;
display: inline-flexbox;



}
aside {

    width: 25%;
    float: left;
    display: block;
    clear: left;
    min-height: 90em;
    max-height: 90em;
    overflow:auto

}

.as1:hover:{
    width: 40%;
}


.eins {
    background-color:#33ffff;
    font-family: Verdana, Tahoma, sans-serif;

}

.zwei {


    background-color: #1aff1a;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif, cursive;

}

.drei {

    background-color:#ffff1a;
    font-family: Arial, Helvetica, sans-serif;
    
}


footer{

    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    background-color: #33ffff;
    color: #33001a;
    width: 100%; 

}

img {
border: 1.5px solid #000000;     
border-radius: 16px;
margin-bottom: 1.5em;

}

